body {
  margin: 0;
  font-family: Montserrat;
  background: var(--background-color);
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 5px;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
.header__logo {
  font-size: 30px;
  font-weight: 900;
}
.header__description {
  margin-left: 15px;
  margin-top: 4px;
}
.header__logo, .header__description {
  color: var(--primary-color);
  text-decoration: none;
}
.header__navbar {
  display: flex;
  margin-left: auto;
}

.navbar__item {
  background: var(--light-button-color);
  padding: 6px 12px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;
  color: var(--primary-color);
}
.navbar__item:not(:last-child) {
  margin-right: 10px;
}
.navbar__item:hover {
  background: var(--light-button-color-hovered);
  color: var(--light-button-text-color-hovered);
}
.navbar__icon {
  padding: 6px 7px;
}

.main {
  background-color: var(--content-background-color);
  padding: 40px;
  position: relative;
}
.main__title {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: 900;
  color: var(--text-color);
}
.main__content *:last-child {
  margin-bottom: 0;
}
.main__content h1, .main__content h2, .main__content h3, .main__content h4, .main__content h5, .main__content h6 {
  color: var(--text-color);
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-weight: 900;
}
.main__content h2 {
  font-size: 1.45rem;
}
.main__content p {
  color: var(--text-color);
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 400;
  line-height: 170% !important;
  margin: 0 0 2rem 0;
}
.main__content > div {
  margin: 0;
  margin-bottom: 2rem;
}
.main__content a:not(.wp-block-button__link) {
  cursor: pointer;
  color: var(--primary-color);
  text-decoration: none;
  position: relative;
  transition: 0.2s;
  z-index: 1;
}
.main__content a:not(.wp-block-button__link):before {
  content: "";
  display: block;
  width: calc(100% + 6px);
  height: 3px;
  position: absolute;
  left: -3px;
  bottom: -3px;
  background: var(--primary-color);
  transition: 0.3s;
  z-index: -1;
}
.main__content a:not(.wp-block-button__link):hover {
  color: var(--text-light-color);
}
.main__content a:not(.wp-block-button__link):hover:before {
  height: 130%;
}
.main__content ul, .main__content ol {
  margin: 0;
  margin-bottom: 2rem;
}
.main__content ul li, .main__content ol li {
  padding-left: 5px;
  line-height: 170%;
}
.main__content ul li:not(:last-child), .main__content ol li:not(:last-child) {
  margin-bottom: 5px;
}
.main__content input,
.main__content textarea {
  background: var(--main-background-color) !important;
  border: 3px solid var(--background-color) !important;
  padding: 5px 10px !important;
  border-radius: 0 !important;
  box-sizing: border-box !important;
  max-width: 100%;
  transition: 0.2s;
}
.main__content input:focus,
.main__content textarea:focus {
  background: var(--background-color) !important;
}
.main__content .wpforms-field-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}
.main__content .wpforms-field {
  flex: 1 0 auto;
}
.main__content .wpforms-field-textarea {
  width: 100% !important;
}
.main__content .wpforms-field-textarea textarea {
  padding: 10px !important;
}
.main__content .wpforms-required-label {
  color: var(--primary-color) !important;
}
.main__content .wpforms-error {
  margin-top: 5px !important;
  font-family: Montserrat !important;
  font-size: 1rem !important;
  color: var(--primary-color) !important;
}
.main__content .wpforms-confirmation-container-full {
  bottom: 0 !important;
  background: var(--background-color) !important;
}
.main__content .is-style-primary-page-separator,
.main__content .wp-block-group.is-style-group-outside-page {
  width: calc(100% + 80px);
  background-color: var(--background-color);
  margin-top: 40px;
  margin-bottom: 40px !important;
  margin-right: -40px;
  margin-left: -40px;
  background-color: var(--background-color);
  border: 0;
}
.main__content .is-style-primary-page-separator + *,
.main__content .wp-block-group.is-style-group-outside-page + * {
  margin-top: 40px;
}
.main__content .wp-block-cover__inner-container, .main__content .wp-block-cover__inner-container p {
  margin-bottom: 0;
}
.main__content .is-style-primary-page-separator {
  height: 15px;
}
.main__content .wp-block-group.is-style-group-outside-page {
  padding: 40px;
}
.main__content .wp-block-columns,
.main__content .wp-block-group {
  width: 100%;
  gap: 15px;
  margin-bottom: 2rem !important;
}
.main__content .wp-block-columns > *,
.main__content .wp-block-group > * {
  margin-bottom: 0 !important;
}
.main__content .wp-block-columns,
.main__content .wp-block-columns p,
.main__content .wp-block-columns .wp-block-image,
.main__content .wp-block-columns .wp-block-buttons,
.main__content .wp-block-columns .wp-block-audio,
.main__content .wp-block-columns .wp-block-column,
.main__content .wp-block-group,
.main__content .wp-block-group p,
.main__content .wp-block-group .wp-block-image,
.main__content .wp-block-group .wp-block-buttons,
.main__content .wp-block-group .wp-block-audio,
.main__content .wp-block-group .wp-block-column {
  margin-bottom: 0;
}
.main__content .wp-block-gallery {
  height: 225px;
}
.main__content .wp-block-gallery .wp-block-image {
  height: 100%;
  justify-content: start !important;
}
.main__content .wp-block-gallery .wp-block-image div {
  height: 100%;
}
.main__content .wp-block-gallery .wp-block-image img {
  min-height: 100%;
  max-height: 100%;
  flex: 0 !important;
}
.main__content figure div {
  margin: 0;
}
.main__content .is-style-text-in-image {
  position: relative;
  transform: scale(1);
  transition: transform 0.2s;
}
.main__content .is-style-text-in-image img {
  filter: brightness(50%);
}
.main__content .is-style-text-in-image figcaption {
  display: inline-block;
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 1rem;
  font-family: Montserrat, "Helvetica Neue";
  font-weight: 400;
  text-align: left;
  max-width: calc(100% - 20px);
  color: var(--text-light-color);
  background-color: var(--primary-color);
  padding: 5px 10px;
  margin: 0;
  box-sizing: border-box;
}
.main__content .wp-block-buttons {
  margin-top: 10px;
  margin-bottom: 2rem;
}
.main__content .wp-block-buttons div {
  margin-bottom: 0px;
}
.main__content .wp-block-button__link,
.main__content .wpforms-submit {
  background: var(--background-color) !important;
  color: var(--text-color) !important;
  font-family: Montserrat !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  padding: 6px 15px !important;
  border-radius: 0 !important;
  transition: transform 0.2s;
  border: 0 !important;
}
.main__content .wp-block-button__link:hover,
.main__content .wpforms-submit:hover {
  transform: scale(1.1);
}
.main__content audio {
  display: none;
}
.main__content .wp-block-audio {
  margin: 0;
  width: 300px;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--primary-color);
  color: var(--text-light-color);
  padding: 10px 20px;
  gap: 7px 0;
}
.main__content .wp-block-audio__icon {
  cursor: pointer;
  margin-right: 15px;
  transition: transform 0.1s;
}
.main__content .wp-block-audio__icon:active {
  transform: scale(0.85);
}
.main__content .wp-block-audio__timer {
  margin-right: auto;
  white-space: nowrap;
}
.main__content .wp-block-audio.is-style-width-100-percent {
  width: 100%;
}
.main__content .wp-block-audio .wp-element-caption {
  text-align: left;
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-light-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
.main__content .wp-block-quote {
  border-left: 0.25rem solid var(--primary-color);
  margin: 0;
  margin-bottom: 2rem;
}

.sidebar {
  position: absolute;
  right: calc(100% + 25px);
}
.sidebar__social-network {
  display: flex;
}
.sidebar__title {
  white-space: nowrap;
  margin-right: 7px;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: var(--primary-color);
}
.sidebar__menu .menu-item {
  width: 35px;
  height: 35px;
  background: var(--light-button-color);
  color: var(--light-button-text-color);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  transition: background 0.1s;
}
.sidebar__menu .menu-item:not(:last-child) {
  margin-bottom: 10px;
}
.sidebar__menu .menu-item:hover {
  background: var(--light-button-color-hovered);
  color: var(--light-button-text-color-hovered);
}

.footer {
  padding-top: 16px;
  padding-bottom: 16px;
}/*# sourceMappingURL=style.css.map */