.header {
    display: flex;

    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;

    &__logo {
        font-size: 30px;
        font-weight: 900;
        color: var(--primary-color);
    }

    &__description {
        color: var(--primary-color);
        margin-left: 15px;
        margin-top: 4px;
    }

    &__navbar {
        display: flex;
        margin-left: auto;
    }
}

.navbar {
    &__item {
        background: var(--light-button-color);
        padding: 6px 12px;
        font-size: 1rem;
        cursor: pointer;
        transition: background 0.2s;
        color: var(--primary-color);

        &:not(:last-child) {
            margin-right: 10px;
        }

        &:hover {
            background: var(--light-button-color-hovered);
        }
    }

    &__icon {
        padding: 6px 7px;
    }
}